<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><b>Follow</b></p>
                <a href="https://www.facebook.com/bkylighting/" class="fa fa-facebook" target="_blank"></a>
                <a href="https://twitter.com/BKYLightingLLC" class="fa fa-twitter" target="_blank"></a>
                <a href="https://www.instagram.com/bkylighting/" class="fa fa-instagram" target="_blank"></a>
                <a href="https://www.linkedin.com/in/bky-lighting-96566b163/" class="fa fa-linkedin" target="_blank"></a>
            </div>
            <div class="col-md-4">
                <div class="contact" id="contact">
                    <p><b><%= link_to 'Contact Us', root_path %></b></p>
                </div>
                <p>office@bkylighting.com</p>
                <p>719-453-0330</p>
            </div>
            <div class="col-md-4">
                <p><b>Address</b></p>
                <p>3945 Academy Blvd N Suite J<br>
                Colorado Springs, 80917</p>
            </div>
        </div>
    </div>
    <small>©2018 by BKY Lighting.</small>
</footer>